@charset "utf-8";
@import "~bulma/bulma";

/* Core variables */
@import "base/vars";

/* CSS Reset */
@import "base/reset";

/* Fonts */
@import "base/fonts";

/* Mixins, helpers and functions */
@import "base/mixins";

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: $background;
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  flex-flow: column;
}

@media (min-width: 600px) {
  .navbar-menu {
    display: grid;
    visibility: visible;
    .menu {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1fr;
      visibility: visible;
    }
    .main-menu {
      grid-column: 1;
      background-color: teal;
      justify-self: center;
      padding: 0% 50% 0%;
    }
    .about-menu {
      grid-column: 2;
      background-color: salmon;
      justify-self: center;
      padding: 0% 50% 0%;
    }
    a {
      color: moccasin;
    }
    a:visited {
      color: lightcyan;
    }
  }

  .navbar-burger {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 600px) {
  .navbar-burger {
    display: block;
    visibility: visible;
  }
  .navbar-menu {
    display: none;
  }
}
